/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#button {
  width: 50%;
  /* 100% of parent container*/
  margin: 100px auto;
  line-height: 1.6; }
  @media (max-width: 500px) {
    #button {
      width: 90%; } }
  #button h3 {
    font-size: 20px !important;
    font-family: inherit;
    font-weight: 800;
    text-align: center; }
    @media (max-width: 1024px) and (orientation: portrait) {
      #button h3 {
        font-size: 20px !important; } }
    @media (min-width: 1800px) {
      #button h3 {
        font-size: 30px; } }

#button-container {
  width: 100%;
  display: flex; }

#support-us {
  width: auto;
  background-color: orange !important;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 16px;
  margin: auto;
  cursor: pointer; }
  @media (max-width: 1024px) and (orientation: portrait) {
    #support-us {
      font-size: 20px !important; } }
  @media (min-width: 1800px) {
    #support-us {
      font-size: 25px; } }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#logo-soc {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; }

.logo {
  margin-left: 5px;
  height: 50px;
  width: 200px;
  grid-column: 1/2; }
  @media screen and (min-width: 1824px) {
    .logo {
      width: 180px; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .logo {
      width: 120px; } }
  .logo a {
    height: 100%;
    display: flex; }
    .logo a img {
      margin: auto; }

#soc {
  position: fixed;
  top: 5px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  z-index: 1000; }
  #soc div#translate {
    display: flex; }
  #soc a {
    margin: auto;
    text-decoration: none; }
  #soc a span {
    border-bottom: 1px dashed black;
    margin-right: 20px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    color: black !important;
    background-color: rgba(225, 225, 225, 0.7); }
    @media screen and (min-width: 1824px) {
      #soc a span {
        font-size: 14px; } }
  #soc i {
    font-size: 40px;
    color: #484D60;
    margin: 0 0 0 0.5em;
    max-height: 1em;
    transition: all 0.5s; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      #soc i {
        font-size: 20px; } }
    #soc i:hover {
      color: pink; }

#cover-picture {
  width: 100%;
  height: auto; }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Read more links */
.read-more {
  margin: 50px auto 100px auto;
  width: 80%; }
  .read-more h3 {
    font-family: inherit;
    width: auto;
    text-align: center;
    margin: 20px auto; }
  .read-more #read-more-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .read-more #read-more-items {
        display: block; } }
    .read-more #read-more-items a img {
      width: 100%; }

/* Created by Texty*/
#created_texty {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%; }
  #created_texty i {
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #a6a6a6;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.5em;
    line-height: 1;
    transition: all 0.5s; }
    #created_texty i:hover {
      border: 1px solid #a6a6a6;
      color: #262626; }
  #created_texty img {
    max-height: 4em;
    max-width: 90%; }
  #created_texty div {
    text-align: center; }
  #created_texty h3 {
    text-align: center;
    font-size: 1.5rem; }

/* standart footer */
.footer {
  line-height: 1.6;
  font-family: inherit;
  text-align: center;
  background-color: #252626;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1fr 1%;
  grid-template-rows: auto auto;
  grid-gap: 1rem; }
  .footer a {
    color: white; }
  .footer a:visited {
    color: white; }
  .footer .copyright {
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .footer #align {
    align-self: start; }
  .footer .copyright h5 {
    font-size: calc(0.8rem + 0.8vw) !important;
    line-height: calc(1.5rem + 0.8vw); }
  .footer ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  .footer ul li {
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .footer ul li {
        font-size: 15px !important; } }
    @media (min-width: 1800px) {
      .footer ul li {
        font-size: 15px; } }
  .footer ul li#big {
    text-align: left;
    font-size: 14px; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .footer ul li#big {
        font-size: 15px !important; } }
    @media (min-width: 1800px) {
      .footer ul li#big {
        font-size: 15px; } }
  .footer ul.links0 {
    grid-column: 2/3;
    -webkit-padding-start: 0; }
  .footer ul.links1 li a, .footer ul.links2 li a, .footer ul.links3 li a, .footer ul.links0 li {
    text-decoration: none !important;
    color: white;
    line-height: 1.6; }
  .footer ul.links3 li a#orange {
    color: orange; }
  @media screen and (min-width: 1824px), screen and (min-width: 1224px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footer .links0 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer .links0 {
      grid-column: 2 / -2;
      grid-row: 1 / 2; } }
  .footer .links1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .footer .links2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
  .footer .links3 {
    grid-column: 5 / 6;
    grid-row: 1 / 2; }
  .footer .copying-info {
    margin: 20px 0;
    font-size: 13px;
    text-align: left;
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    max-width: 100vw;
    min-height: 30px; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .footer .copying-info {
        font-size: 15px !important; } }
    @media (min-width: 1800px) {
      .footer .copying-info {
        font-size: 15px; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footer .links1, .footer .links2, .footer .links3 {
      display: none;
      font-size: 0 !important; } }

* {
  outline: none; }

body {
  margin: 0;
  padding: 0;
  color: #484D60;
  font-family: 'Play', sans-serif;
  line-height: 1.6; }

#header {
  padding: 80px 0 0 0;
  z-index: 0;
  color: white;
  margin: 0 0 50px 0; }
  #header h1, #header h3 {
    width: 60%;
    max-width: 1000px;
    margin: auto auto 50px auto; }
    @media (max-width: 800px) {
      #header h1, #header h3 {
        width: 90%; } }

.desk {
  display: block; }
  @media (max-width: 825px) and (orientation: portrait) {
    .desk {
      display: none; } }

.mob {
  display: none; }
  @media (max-width: 825px) and (orientation: portrait) {
    .mob {
      display: block; } }

h1 {
  text-transform: uppercase; }

h3 {
  font-size: 25px;
  font-weight: bold; }
  @media (max-width: 825px) {
    h3 {
      font-size: 20px; } }

h2 {
  margin-top: 50px;
  font-size: 25px; }
  @media (max-width: 825px) {
    h2 {
      font-size: 20px; } }

p {
  line-height: 1.6;
  margin: 15px 0;
  padding: 0;
  font-size: 20px; }
  @media (max-width: 825px) {
    p {
      font-size: 17px; } }

.text-description {
  width: 80%;
  max-width: 1000px;
  min-width: 700px;
  margin: auto; }
  @media (max-width: 800px) {
    .text-description {
      max-width: 90%;
      min-width: 90%;
      width: 90%; } }

main {
  height: max-content;
  width: 80%;
  max-width: 1000px;
  min-width: 700px;
  margin: 80px auto auto auto;
  display: grid;
  grid-template-columns: 65% 35%; }
  @media (max-width: 800px) {
    main {
      max-width: 90%;
      min-width: 90%;
      width: 90%;
      display: block; } }
  main #yAxisType {
    width: 100%; }
  main #multiples {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%; }
  main #filters {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2; }
    @media (max-width: 800px) {
      main #filters {
        width: 90%;
        margin: auto; } }
  main svg path.domain {
    stroke: grey; }
  main svg g.tick line {
    stroke: grey; }
  main svg g.tick text {
    fill: grey; }
  main svg rect {
    opacity: 1; }
  @media (max-width: 825px) and (orientation: portrait) {
    main svg text.multipleChartHeader {
      font-size: 14px; } }

#sum {
  margin: 20px 0;
  display: flex;
  justify-content: space-between; }
  #sum input {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    width: 40%;
    margin-right: 10%;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    padding: 10px; }

select {
  background-color: white;
  font-family: 'Play', sans-serif;
  padding: 10px;
  font-size: 15px;
  max-width: 100%;
  width: 92%;
  overflow: hidden;
  word-wrap: normal !important;
  white-space: normal;
  padding-right: 12px !important;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #666666;
  font-weight: bold;
  letter-spacing: 1px; }

#types {
  width: 80%;
  height: 400px;
  overflow-y: auto;
  font-size: 16px;
  border: 1px solid lightgrey;
  padding: 0 20px; }
  @media (max-width: 800px) {
    #types {
      height: 40vh;
      overflow: auto; } }
  #types #myInput {
    position: sticky;
    top: 0;
    font-family: 'Play', sans-serif;
    color: #d84556;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    background-color: white; }
  #types input[name="search"]::placeholder {
    /* Firefox, Chrome, Opera */
    color: #d84556; }
  #types input[name="search"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d84556; }
  #types input[name="search"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d84556; }
  #types ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #types ul li {
      border-bottom: 1px solid lightgrey;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    #types ul p {
      margin: 0;
      padding: 5px 0; }
    #types ul .plus {
      margin-right: 5px;
      width: 15px;
      height: 15px; }

.hidden {
  display: none; }

.visible {
  display: block; }

button.main-section-button, input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff; }

button.main-section-button:hover, input[type="submit"]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6; }

button.main-section-button:active, input[type="submit"]:active {
  position: relative;
  top: 1px; }

a.textlink {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black; }

a.alsoRead {
  width: 50%;
  margin: auto;
  color: orange;
  text-decoration: none;
  border-bottom: 1px solid orange; }

a.textlink:hover {
  color: #d84556;
  border-bottom: 1px solid #d84556; }

.smallFontText {
  font-size: 13px; }

/*# sourceMappingURL=styles.css.map */
