@import "variables";
@import "donate";
@import "header";
@import "footer";


$mainColor: #484D60;

body {
  margin:0;
  padding:0;
  color:$mainColor;
  font-family: 'Play', sans-serif;

}


main {
  display: grid;
  grid-template-columns: 70% 30%;


  svg {


    path.domain {
      stroke:grey;
    }

    g.tick text {
      fill:grey;
    }
  }
}





#types {
  width: 300px;
  height: 600px;
  overflow-y: auto;

  #myInput {
    width:90%;
    height:30px;
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid lightgrey;
      padding: 0;
      margin: 0;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      margin:0;
      padding: 5px 0;
    }

    .plus {
      margin-right: 5px;
      width:15px;
      height:15px;
    }
  }
}

