@import "variables";
@import "donate";
@import "header";
@import "footer";


//$mainColor: #432E3E;
$mainColor: #3D728E;

body {
  margin:0;
  padding:0;
  color:#484D60;
  font-family: 'Play', sans-serif;

}


p {
  line-height: 1.6;
}
main {
  display: grid;
  grid-template-columns: auto 20%;


  svg {


    path.domain {
      stroke:grey;
    }

    g.tick line {
      stroke:grey;
    }

    g.tick text {
      fill:grey;
    }
  }
}





#types {
  width: 80%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid lightgrey;
  padding:20px;

  #myInput {
    font-family: 'Play', sans-serif;
    font-size: 18px;
    //font-style:italic;
    border: 0;
    border-bottom: 1px solid lightgrey;
    width:90%;
    height:30px;
    margin-bottom: 20px;
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid lightgrey;
      padding: 0;
      margin: 0;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      margin:0;
      padding: 5px 0;
    }

    .plus {
      margin-right: 5px;
      width:15px;
      height:15px;
    }
  }
}

