@import "variables";
@import "donate";
@import "header";
@import "footer";


//$mainColor: #432E3E;
$mainColor: #3D728E;



body {
  margin:0;
  padding:0;
  color:#484D60;
  font-family: 'Play', sans-serif;
  line-height: 1.6;
  display:grid;
  grid-template-columns: 400px auto;
  grid-gap:30px;

}

#header {
  padding: 50px;
  background-color: #B8001D;
  color: white;
  margin: 0;
}

  h1, h3 {
    width:80%;
  }

  h1 {
    text-transform: uppercase;
  }

  h3 {
    font-size: 25px;
    font-weight: normal;
  }


h2 {
  font-size:20px;
}


p {
  line-height: 1.6;
  margin:15px 0;
  padding:0;


}
main {
  height:100vh;
  display: grid;
  grid-template-columns: auto 25%;

  #yAxisType {
    //text-align: right;
    width:100%;

    button {
      font-family: 'Play', sans-serif;
      padding:5px;
      font-size:16px;
      width: auto;
      margin:20px auto 20px 0;
    }

  }


  svg {

    path.domain {
      stroke:grey;
    }

    g.tick line {
      stroke:grey;
    }

    g.tick text {
      fill:grey;
    }

    rect {
      opacity:0.8;
    }
  }
}


#sum {
  margin: 20px 0;
  display:flex;
  justify-content: space-between;

  input {
    font-family: 'Play', sans-serif;
    padding:5px;
    font-size:16px;
    width:40%;
    margin-right:10%;
  }
}

select {
  font-family: 'Play', sans-serif;
  padding:5px;
  font-size:16px;
  //width:40%;
  margin-right:10%;
}

#types {
  width: 80%;
  height: 400px;
  overflow-y: auto;
  border: 1px solid lightgrey;
  padding: 0 20px;

  #myInput {
    position:sticky;
    top:0;
    font-family: 'Play', sans-serif;
    color: #B8001D;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid lightgrey;
    width:100%;
    height:30px;
    padding: 10px 0;
    background-color: white;
  }



  input[name="search"]::placeholder { /* Firefox, Chrome, Opera */
    color: #B8001D;
  }

  input[name="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B8001D;
  }

  input[name="search"]::-ms-input-placeholder { /* Microsoft Edge */
    color: #B8001D;
  }



  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid lightgrey;
      padding: 0;
      margin: 0;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      margin:0;
      padding: 5px 0;
    }

    .plus {
      margin-right: 5px;
      width:15px;
      height:15px;
    }
  }
}



/* -------------------------------------------------------------- */
#joke {
  //position:sticky;
  //top:10px;
  //color:white;
  background-color: #E6EFFF;
  padding:50px 20px 20px 20px;
  margin:0;
  height:100%;
  overflow-y: auto;

  #text {
    text-transform: uppercase;
    //font-size:25px;
    font-weight: bold;
    //letter-spacing: 5px;
    color: #5893FC;
  }


  .misprint {
    //background-color:#99AAE0;
    padding:2px;
    color:#5893FC;
    font-weight:bold;
  }

  .collapsible {
    margin-bottom:5px;
    background-color: #5893FC;
    color: #eeeeee;
    cursor: pointer;
    padding: 10px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size:16px;
  }
}

.hideElem {
  display:none;
}

.misprintCases {
  margin:0;
}